<a href="https://colab.research.google.com/github/MassGH2023/Python-Coding-Practice/blob/main/Python_Coding_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Palindrome

In [ ]:
st='abcd'

In [ ]:
class Solution(object):
    def isPalindrome(self, x):
        """
        :type x: int
        :rtype: bool
        """
        lst = str(x)
        new = []
        for i in range(1,len(lst)+1):
            new.append(lst[-i])

        return "".join(new) == lst

In [ ]:
s = Solution()
s.isPalindrome(st2)

False

In [ ]:
class Solution(object):
    def isPalindrome(self, x):
        """
        :type x: int
        :rtype: bool
        """
        lst = str(x)
        return lst[::-1] == lst

In [ ]:
st2 = "anmna"
s = Solution()
s.isPalindrome(st2)

True

# Two Sum

In [ ]:
class Solution(object):
    def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """
        for i in range(0,len(nums)):
            for j in range(i+1, len(nums)):
                if nums[i] + nums[j] == target:
                    return [i,j]

In [ ]:
s = Solution()
s.twoSum(nums = [2,7,11,15], target = 9)

[0, 1]

In [ ]:
# Definition for singly-linked list.
# class ListNode(object):
#     def __init__(self, val=0, next=None):
#         self.val = val
#         self.next = next
class Solution(object):
    def addTwoNumbers(self, l1, l2):
        """
        :type l1: Optional[ListNode]
        :type l2: Optional[ListNode]
        :rtype: Optional[ListNode]
        """
        l11 = []
        l22 = []
        for i in range(1,len(l1)+1):
            l11.append(str(l1[-i]))
        for i in range(1,len(l2)+1):
            l22.append(str(l2[-i]))

        l111 = int("".join(l11))
        l222 = int("".join(l22))
        res = []
        result = str(l111+l222)
        for i in range(1,len(result)+1):
            res.append(int(result[-i]))

        return res

In [ ]:
s = Solution()
s.addTwoNumbers(l1 = [2,4,3], l2 = [5,6,4])

[7, 0, 8]

# Longest Substring Without Repeating Characters
check

In [ ]:
class Solution3(object):
    def lengthOfLongestSubstring(self, s):
        """
        :type s: str
        :rtype: int
        """


        charset = set()
        start = 0
        maxlen = 0

        for e in range(len(s)):
          while s[e] in charset:
            charset.remove(s[start])
            start+=1

          charset.add(s[e])

          maxlen = max(maxlen, e-start +1)

        return maxlen

In [ ]:
s = Solution3()
s.lengthOfLongestSubstring(s = "abcabcbb")

3

# Median of Two Sorted Arrays

In [ ]:
import numpy as np


class Solution4(object):
    def findMedianSortedArrays(self, nums1, nums2):
        """
        :type nums1: List[int]
        :type nums2: List[int]
        :rtype: float
        """

        return np.median(np.sort(np.array(nums1+nums2)))

In [ ]:
s = Solution4()
s.findMedianSortedArrays(nums1 = [1,2], nums2 = [3,4])

2.5

In [ ]:
rows = [""]*3

In [ ]:
rows

['P', 'A', '']

In [ ]:
rows[1] += 'A'

# zigzag

In [ ]:
class Solution5:
    def convert(self, s, numRows):
        """
        :type s: str
        :type numRows: int
        :rtype: str
        """
        if numRows == 1 or numRows >= len(s):
            return s  # No zigzag needed

        rows = [""]*numRows
        current = 0
        d = True

        for c in s:
          rows[current] += c

          if current == 0:
            d = True

          elif current == numRows -1:
            d = False


          current += 1 if d else -1

        return "".join(rows)

In [ ]:
Solution5().convert("PAYPALISHIRING", 3)

'PAHNAPLSIIGYIR'

# **Reverse Integer**

In [ ]:
class Solution6(object):
    def reverse(self, x):
        """
        :type x: int
        :rtype: int
        """

        is_neg = x <0

        x_str = str(abs(x))
        x_rev = x_str[::-1]

        x_rev_int = int(x_rev)

        if x < 0:
            x_rev_int = -x_rev_int

        if x_rev_int < -2**31 or x_rev_int > 2**31 - 1:
            return 0

        return x_rev_int

In [ ]:
Solution6().reverse( -1354)

-4531

# String to Integer (atoi)

In [ ]:
class Solution7(object):
    def myAtoi(self, s):
        """
        :type s: str
        :rtype: int
        """
        s = s.lstrip()
        if not s:
          return 0

        sign = 1

        if s[0] == "-":
          sign = -1
          s = s[1:]

        elif s[0] == "+":
          s = s[1:]


        result = 0


        for char in s:
          if char.isdigit():
            result = result*10 + int(char)

          else:
            break


        result *= sign

        INT_MIN = -2**31
        INT_MAX = 2**31 - 1
        if result < INT_MIN:
            return INT_MIN
        if result > INT_MAX:
            return INT_MAX

        return result

In [ ]:
res = []
for c in ["32", '-934864-33', "1337c0d3", "words and 987"]:

  res.append(Solution7().myAtoi(c))

In [ ]:
res

[32, -934864, 1337, 0]

# Container With Most Water

In [1]:
class Solution8(object):
    def maxArea(self, height):
        """
        :type height: List[int]
        :rtype: int
        """
        area = []
        for i in range(len(height)):
            for j in range(i+1, len(height)):

                area.append((j-i)*min(height[j], height[i]))

        return max(area)

In [2]:
Solution8().maxArea(height = [1,8,6,2,5,4,8,3,7])

49

# Integer to Roman

In [11]:
(1234 // (10**len(str(1234))-1))*1000

0

In [17]:
(1234 // (10**(len(str(1234))-1)))*(10**(len(str(1234))-1))

1000

In [31]:
num = 1234
num2 = (num%(10**(len(str(num))-1)))
(num // (10**(len(str(num))-1)))*(10**(len(str(num))-1))
num

1000

In [32]:
num2

234

In [35]:
num = 2334
numlist = []
for i in range(len(str(num))):
  num1 = num
  num2 = (num1%(10**(len(str(num))-1)))
  numlist.append((num1 // (10**(len(str(num1))-1)))*(10**(len(str(num1))-1)))
  num1 = num2

In [37]:
numlist

[2000, 2000, 2000, 2000]